name: Deploy to GitHub Pages

on:
  push:
    branches: [main]

jobs:
  deploy:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - uses: withastro/action@v0
        with:
          deploy_branch: gh-pages
          github_token: ${{ secrets.GITHUB_TOKEN }}